.header{
    display: inline-flex;
    width: 1200px;
    text-align: center;
    justify-content: space-between;
    margin: 0 350px 110px;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin: 28px 2rem;
    top: 1rem;
}

.Logotext{
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
}

.Logotext:hover{
    color: #f38181;
}

.menu{
    width: 500px;
    right: 5%;
    margin-top: 40px;
    margin-bottom: 12px;
    margin: 40px 10px 12px;
}

.menu_list{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.menu_list-item{
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu_list-item:hover{
    color: #f38181;
}

.menu_list-item::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    margin: 9px auto 0;
}

.menu_list-item:hover::after{
    background-color: #f38181;
}