.main{
    margin-top: 170px;
}

.section{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section_header{
    width: 1200px;
    display: inline-flex;
    margin: 10px; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color: #333333;
}

.section_header-stitle{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    margin: 0 auto 16px;
}

.section_header-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section_header::after{
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 62px;
}

.wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
}

.services{
    display: inline-flex;
    width: 360px;
    margin: 0 0 100px 0;
    text-align: left;
}

.image{
    width: 32px;
    height: 32px;
    margin-right: 26px;
}

.text{
    width: 270px;
}

.title{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 30px;
}

.parag{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-weight: 300;
    line-height: 22px;
}

.services::before{
    content: '';
    display: block;
    margin: 10px 24px 0 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: top;
    width: 32px;
    height: 32px;
}

.clock::before{
    background-image: url("../img/ico_clock.png");
}

.graph::before{
    background-image: url("../img/ico_graph.png");
}

.computer::before{
    background-image: url("../img/ico_computer.png");
}

.book::before{
    background-image: url("../img/ico_book.png");
}

.home::before{
    background-image: url("../img/ico_home.png");
}

.icon::before{
    background-image: url("../img/image_icon.png");
}