.header{ 
    text-align: center; 
    margin-bottom: 30px; 
} 
 
.menu{ 
    list-style: none; 
    padding: 1px; 
    margin-top: 55px; 
} 
 
a{ 
    text-decoration: none; 
    color: #757575; 
} 
 
li{ 
    display: inline-block; 
    margin-right: 24px; 
    margin-left: 24px; 
} 
 
.menu_item{ 
    padding-right: 24px; 
    padding-left: 24px; 
    font-size: 18px; 
    font-family: sans-serif; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: #757575; 
}

.menu_item:hover{
    color: #00c8fd;
}

main{
    text-align: center;
    margin: 10%;
}

section{
    width: 35%;
    display: inline-block;
    margin: 50px;
}

h3{
    text-transform: uppercase;
    color: #e3ddd7;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    width: 100px;
    text-align: left;
    font-family: sans-serif;
}

h2{
    font-size: 24px;
    text-align: left;
    color: #757575;
    font-family: sans-serif;
}

p{
    text-align: left;
    color: #757575;
    font-family: sans-serif;
}